<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "OS System", root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ordens de Serviço", service_orders_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nova OS", new_service_order_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Peças", parts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Técnicos", technicians_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Relatórios", reports_path, class: "nav-link" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-cog"></i> Configurações
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to raw('<i class="fas fa-users"></i> Usuários'), users_path, class: "dropdown-item" %></li>
              <li><%= link_to raw('<i class="fas fa-building"></i> Dados da Empresa'), edit_company_settings_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <%= current_user.name %>
            <% if current_user.admin? %>
              <span class="badge bg-warning">Admin</span>
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to raw('<i class="fas fa-user"></i> Meu Perfil'), user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to raw('<i class="fas fa-key"></i> Alterar Senha'), edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to raw('<i class="fas fa-sign-out-alt"></i> Sair'), destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
